{% extends 'base.html.twig' %}

{% block title %}{{ 'Two factor authentication'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <script>
        $(document).ready(function() {
            let secondsLeft = $('#secondsLeftToResend').text() * 1;
            let $sendAgainContainer = $('#sendAgainContainer');
            let $sendAgainTimer = $('#sendAgainTimer');
            let sendAgainEnabledHtml = $('#sendAgainEnabled').html();
            $sendAgainTimer.text('(' + secondsToTime(secondsLeft) + ')');
            if (secondsLeft > 0) {
                let timer = setInterval(function() {
                    secondsLeft--;
                    if (secondsLeft > 0) {
                        $sendAgainTimer.text('(' + secondsToTime(secondsLeft) + ')');
                    } else {
                        clearInterval(timer);
                        $sendAgainContainer.html(sendAgainEnabledHtml);
                        $sendAgainTimer.text('');
                    }
                }, 1000);
            }
            else {
                $sendAgainContainer.html(sendAgainEnabledHtml);
            }
        });

        function secondsToTime(seconds) {
            let m = Math.floor(seconds / 60);
            let s = seconds - m * 60;
            if (s < 10) {
                s = '0' + s;
            }
            return m + ':' + s;
        }
    </script>
    <div id="secondsLeftToResend" class="d-none">{{ secondsLeftToResend }}</div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 col-xxxl-4 offset-xxxl-4 h-100">
                <div class="login">
                    <div class="login-logo">
                    </div>
                    <div class="login-title">
                        <h2>{{ 'Two factor authentication header'|trans }}</h2>
                    </div>

                    <p>
                        {% if message is defined and message is not null %}
                            {{ message|trans }}
                        {% else %}
                            {% trans %}Enter code to log in:{% endtrans %}
                        {% endif %}
                    </p>

                    {% for error in app.flashes('error') %}
                        <div class="alert alert-red">
                            <div class="alert-content">{{ error|trans|raw }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for notice in app.flashes('notice') %}
                        <div class="alert alert-green">
                            <div class="alert-content">{{ notice|trans|raw }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="mb-40">
                        {{ form_start(form) }}
                            {{ form_widget(form.code) }}
                            {{ form_widget(form.submit) }}
                            <a type="button" href="/logout" class="button button-solid button-secondary mt-12 w-100">
                                {% trans %}Cancel{% endtrans %}
                            </a>
                        {{ form_end(form) }}

                    </div>
                    <p>
                        {% trans %}Code valid time:{% endtrans %}
                        10
                        {% trans %}minutes{% endtrans %}
                    </p>
                    <p>
                        <span id="sendAgainEnabled" class="d-none"><a href="{{ path('two_factor_authentication') }}">{% trans %}Send again{% endtrans %}</a></span>
                        <span id="sendAgainContainer">{% trans %}Send again{% endtrans %}</span>
                        <span id="sendAgainTimer">(0:00)</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}